<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<style>

.form-group :hover{
border: 2px solid black;
}
.panel:hover{
border: 3px solid grey;
}
.panel-body:hover{
border: 3px solid grey;
}
.btn:hover {

  border: 2px solid black
}
</style>
<div class ="container">
      <div class="panel panel-default">
        <div class="panel-body"> 
             <div class="form-group">
                  <%= f.label :name %><br>
                  <%= f.text_field :name , :autofocus => true ,class: "form-control" %>
             </div>
             <div class="form-group">
                  <%= f.label :address %><br>
                  <%= f.text_area :address , :autofocus => true ,class: "form-control" %>
             </div>

             <div class="form-group">
                  <%= f.label :city %><br>
                  <%= f.text_field :city , :autofocus => true ,class: "form-control" %>
             </div>
              <div class="form-group">
                  <%= f.label :state %><br>
                  <%= f.text_field :state , :autofocus => true ,class: "form-control" %>
             </div>

              <div class="form-group">
                  <%= f.label :zip %><br>
                  <%= f.text_field :zip , :autofocus => true ,class: "form-control" %>
             </div>

              <div class="form-group">
                  <%= f.label :school_received_degree %><br>
                  <%= f.text_field :school_received_degree, :autofocus => true ,class: "form-control" %>
             </div>
              <div class="form-group">
                  <%= f.label :years_in_practice%><br>
                  <%= f.text_field :years_in_practice ,:autofocus => true ,class: "form-control" %>
             </div>
            
              <div>
                  <input type="submit" class="btn btn-info " value="Create">
              </div>

              <%= link_to 'Back', doctors_path %>
         </div>
      </div>
  </div>
<%end%>